---
layout: default
---

<div class="home">
  {{ content }} {% assign posts = site.projects %} {%- if posts.size > 0 -%} {%- if
  page.list_title -%}
  <h1 class="post-list-heading">{{ page.list_title }}</h1>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <!--<span class="post-meta">{{ post.date | date: date_format }}</span>-->
      <h2>
        <a class="post-link" href="{{ post.external_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

</div>
